#doc-versions {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  margin-left: -1ch;
  clip-path: inset(0 0 0 1ch);
}

#doc-versions span.current_version {
  font-weight: bold;
}

#doc-versions span::before {
  content: '|';
  display: inline-block;
  width: 1ch;
  text-align: center;
}

#doc-versions a {
  display: inline-block;
  padding: 3px 6px;
}
