{% extends "default/module.html.jinja2" %}

{% block head %}
    {{ super() }}
    <link href="{{ env.DOCS_LINK_PREFIX }}/versions.css" rel="stylesheet">
    <script src="{{ env.DOCS_LINK_PREFIX }}/versions.js"></script>
{% endblock %}

{% block module_list_link %}
    <h5>Version</h5>
    <div id="doc-versions" data-link-prefix="{{ env.DOCS_LINK_PREFIX }}"></div>
    {{ super() }}
{% endblock %}

{% defaultmacro bases(cls) %}{% enddefaultmacro %}
{% defaultmacro inherited(cls) %}{% enddefaultmacro %}
